<!-- Imported Cloudinary Widget -->
  <div class = "m-auto p-6 flex justify-center">
  <button id="upload_widget" class="cloudinary-button">Upload files</button>

  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

  <script type="text/javascript"> 

  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'dwiso1uky', 
    uploadPreset: 'asdfkjhasdf',
    sources: [
          "local",
          "camera"
      ],
      googleApiKey: "<image_search_google_api_key>",
      showAdvancedOptions: true,
      cropping: true,
      multiple: false,
      defaultSource: "local",
      styles: {
          palette: {
              window: "#FFFFFF",
              windowBorder: "#90A0B3",
              tabIcon: "#0078FF",
              menuIcons: "#5A616A",
              textDark: "#000000",
              textLight: "#FFFFFF",
              link: "#0078FF",
              action: "#FF620C",
              inactiveTabIcon: "#0E2F5A",
              error: "#F44235",
              inProgress: "#0078FF",
              complete: "#20B832",
              sourceBg: "#E4EBF1"
          },
          fonts: {
              default: {
                  active: true
              }
          }
      }
  }, async (error, result) => { 
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info); 
      const newImage = { 
        title: 'test Title',
        file_name: result.info.url
      }
      const response = await fetch('/api/image', {
        method: 'POST',
        body: JSON.stringify( newImage ),
        headers: { 'Content-Type': 'application/json' },
      }) 
      console.log(response)
       if (response.ok) {
        document.location.replace('/gallery');
      } else {
        alert('Failed to make new post.');
      }
      }
    }
  )

  document.getElementById("upload_widget").addEventListener("click", function(){
      myWidget.open();
    }, false);

  </script>
  </div>

  <!-- Gallery image grid -->
   <script src="/js/delete.js"></script>
  <div class = "bg-slate-300 py-2">
    <h1 class="text-2xl text-center font-bold text-slate-800">Your Gallery:</h1>
      <div class = "grid sm: grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto p-12">
        
        {{#each images as |image| }}


       <div class = "bg-white flex flex-col justify-center text-center border-solid rounded p-5 hover:bg-indigo-100">
          {{!-- Wrap in <a></a> tag, link to image post --}}
          
          <img src="{{image.file_name}}" alt="{{image.title}}" class="object-contain max-h-80">
          <a href="/image/{{image.id}}" class="btn border-solid border-2 border-white rounded p-1 text-sm bg-blue-600 text-white">View Post</a>
          {{!-- TODO: Add a Delete 'X' icon to thumbnails when mouse hovered, deletes a photo after alerting the user if they want to proceed --}}
      <button onclick="deleteImageHandler({{image.id}})"type="delete" id="image-delete" data-imageclass="delete-button" class="border-solid border-2 border-white rounded p-1 text-sm bg-red-600 text-white">Delete</button>
        </div>
        {{/each}}
{{!-- Link script for image deletion --}}
      </div>
  </div>

